:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 1024px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #ffffff;
    --entry: #ebfde8de;
    --primary: #313131;
    --secondary: #6f6f6f;
    --tertiary: #a0a0a0;
    --content: #0f0f0f;
    --code-block-bg: #473e3e;
    --code-bg: #9398aa;
    --border: #424242;
}

.dark {
    --theme: #1f1f1f;
    --entry: #262121;
    --primary: #978989;
    --secondary: #807777;
    --tertiary: #536b88;
    --content: #b4b4b4;
    --code-block-bg: #2f2f2f;
    --code-bg: #373535;
    --border: #323335;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
