:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 1024px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #f8f9fa;
    --entry: #fdfffc;
    --primary: #343a40;
    --secondary: #6c757d;
    --tertiary: #adb5bd;
    --content: #212529;
    --code-block-bg: #eee4e1;
    --code-bg: #dee2e6;
    --border: #d9d9d9;
}

.dark {
    --theme: #2E3440;
    --entry: #4C566A;
    --primary: #e5e9f0;
    --secondary: #d8dee9;
    --tertiary: #5e81ac;
    --content: #eceff4;
    --code-block-bg: #2b2e34;
    --code-bg: #2e323a;
    --border: #323335;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
