<script src="https://giscus.app/client.js" data-repo="{{ site.Params.Services.Giscus.RepoName }}"
        data-repo-id="{{ site.Params.Services.Giscus.RepoId }}"
        data-category="{{ site.Params.Services.Giscus.Category }}"
        data-category-id="{{ site.Params.Services.Giscus.CategoryId }}"
        data-mapping="{{ site.Params.Services.Giscus.Mapping }}" data-strict="1" data-reactions-enabled="1"
        data-emit-metadata="0" data-input-position="{{ site.Params.Services.Giscus.InputPosition }}"
        data-theme="{{ site.Params.Services.Giscus.Theme }}" data-lang="zh-CN"
        data-loading="{{ site.Params.Services.Giscus.Loading }}" crossorigin="anonymous" async>

</script>