<!-- handle keyboard shortcut -->
<script>
    function toggleFullscreen() {
        const elem = document.documentElement;

        if (!document.fullscreenElement) {
            // If the document is not currently in fullscreen, request fullscreen
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.mozRequestFullScreen) { /* Firefox */
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE/Edge */
                elem.msRequestFullscreen();
            }
        } else {
            // If the document is currently in fullscreen, exit fullscreen
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.mozCancelFullScreen) { /* Firefox */
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
                document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) { /* IE/Edge */
                document.msExitFullscreen();
            }
        }
    }
    function handleShortcut(event) {
        // 按了Alt键同时按如下键
        if (event.altKey) {
            switch (event.key) {
                case 'a':
                    location.href = "/search/";
                    break;
                case 'c':
                    var sidebar_toc = document.getElementById("sidebar-toc");
                    sidebar_toc.classList.toggle('show');
                    break;
                case 'g':
                    scrollToTop();
                    break;
                case 'q':
                    location.href = "/";
                    break;
                case 'r':
                    location.reload();
                    break;
                case 'w':
                    toggleFullscreen();
                    break;
                case 'x':
                    var sidebar_pages = document.getElementById("sidebar-pages");
                    sidebar_pages.classList.toggle('show');
                    break;
                case 'z':
                    toggleTheme();
                    break;
                default:
                    // Handle other keys if needed
                    break;
            }
        }
    }

    // Add event listener to the document for keydown events
    document.addEventListener("keydown", handleShortcut);

</script>