
{{/* Parameters : */}}
{{/* - repo (#0) */}}
{{ $repo := "" }}

{{- if .IsNamedParams }}
{{- $repo = .Get "repo" -}}

{{ else }}
{{- $repo = .Get 0 -}}

{{ end }}

<div class="github_status" >
    <a href={{ printf "https://github.com/%s" $repo }}> {{ $repo }} </a> &nbsp;
    {{ printf "[![GitHub repo watchers](https://img.shields.io/github/watchers/%s?style=social&label=watchers)](https://github.com/%s)" $repo $repo | markdownify }}
    {{ printf "[![GitHub repo Forks](https://img.shields.io/github/forks/%s?style=social&label=forks)](https://github.com/%s)" $repo $repo | markdownify }}
    {{ printf "[![GitHub repo Stars](https://img.shields.io/github/stars/%s?style=social&label=stars)](https://github.com/%s)" $repo $repo | markdownify }}
    <!-- {{ printf "[![Stargazers over time](https://starchart.cc/%s.svg)](https://starchart.cc/%s)" $repo $repo | markdownify }} -->
</div>
